* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.hero-container {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  padding-top: 4%;
  margin-bottom: 100px;
}
.hero-description {
  width: 40%;
}
.hero-img {
  width: 30%;
}
h1 {
  color: #444;
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 600;
}

.colorize-text {
  color: #2bb6e7;
}
h3 {
  font-weight: 600;
  margin: 30px 0 20px;
  color: orange;
}
p {
  color: #777;
}
.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 30px;
  background-image: linear-gradient(45deg, orangered, orange);
  border-radius: 8px;
}
.dream-area {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 4%;
  margin-bottom: 100px;
}

.experiences {
  padding: 4%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("images/exp-bg.png");

  background-repeat: no-repeat;
  background-position: left;
}

.experience-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  height: inherit;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.219);
  width: 35%;
  margin: 15px;
  padding: 35px 25px;
  border-radius: 15px;
  border-left: 7px solid;
  z-index: 9999;
}

.border-detailer {
  border-image: linear-gradient(-45deg, orangered, orange);
  border-image-slice: 1;
}

.border-learner {
  border-image: linear-gradient(-45deg, green, lime);
  border-image-slice: 1;
}

.border-dev {
  border-image: linear-gradient(-45deg, blue, cyan);
  border-image-slice: 1;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
